@media screen and (min-width: 1920px) {
    body {
        background-size: 2083px 1100px;
    }

    .site-header-logo-container header,
    .site-header-logo-container i {
        font-size: 4rem;
    }

    #theme-toggler i {
        font-size: 3rem;
    }

    #all-countries-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 4rem;
    }

    #country-page-headers-container header {
        font-family: var(--header-font);
        height: 5rem;
        font-size: 4rem;
    }

    #country-facts-container a,
    #country-facts-container p {
        font-size: 2rem;
    }

    #border-countries-container {
        margin-top: 6rem;
    }

    #border-countries-container header {
        font-size: 3rem;
    }    

    #border-countries-list {
        width: 67%;
    }

    #border-countries-list a, #border-countries-list p {
        font-size: 1.5rem;
    }

    #quiz-greeting, #question-area, #results-area {
        margin: 10% auto 2% auto;
    }
}

@media screen and (min-width: 1536px) {
    #all-countries-container {
        gap: 4rem;
    }

    #country-body-container {
        padding: 4rem 1rem 5rem 1rem;
    }

    #country-page-headers-container header {
        font-size: 3rem;
        height: 3.6rem;
    }

    #border-countries-container {
        margin-top: 6rem;
    }

    #border-countries-container header {
        font-size: var(--size-32);
    }

    #border-countries-list a,
    #border-countries-list p {
        font-size: var(--size-20);
    }
}

@media screen and (min-width: 1440px) {
    #country-page-headers-container {
        margin: 2rem auto;
    }

    #country-body-container {
        padding: 4rem 1rem var(--size-32) 1rem;
    }

    #quiz-greeting, #question-area, #results-area {
        margin: 10% auto 2% auto;
    }
}

@media screen and (max-width: 1280px) {
    #country-body-container {
        padding: 2rem 1rem;
    }

    #question-area, 
    #results-area {
        margin: 10% auto 2% auto;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: 120rem 100rem;
    }

    #theme-toggler {
        width: 24%;
        max-width: 45%;
    }

    #all-countries-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #scroll-to-top-btn {
        left: 92%;
    }

    #flag-info-container {
        flex-direction: column;
    }

    #country-facts-container {
        text-align: center;
        margin: var(--size-24) auto;
    }

    #country-page-main-container {
        margin-top: var(--size-20);
    }

    #quiz-greeting, #question-area, #results-area {
        margin: 25% auto 2% auto;
    }
}

@media screen and (max-width: 1024px) and (min-height: 1280px) {
    #quiz-greeting, #question-area, #results-area {
        margin: 25% auto 2% auto;
    }
}

@media screen and (max-width: 1000px) and (min-height: 1500px) {
    #country-body-container {
        padding: 5rem 1rem;
    }
}

@media screen and (max-width: 962px) {
    #border-countries-container {
        flex-direction: column;
    }

    #border-countries-container header {
        font-size: var(--size-36);
    }

    #border-countries-list {
        width: 95%;
        margin-top: var(--size-16);
    }

    #border-countries-list a, #border-countries-list p {
        font-size: var(--size-24);
    }
}

@media screen and (max-width: 962px) and (max-height: 601px) {
    #scroll-to-top-btn {
        left: 91%;
        top: 68%;
    }

    #country-body-container img {
        width: 20rem;
        height: 13rem;
    }

    #border-countries-container {
        flex-direction: column;
    }

    #border-countries-list {
        margin-top: 1rem;
        width: 91%;
    }

    #quiz-greeting h1, 
    #results-header {
        font-size: var(--size-32);
    }

    #quiz-greeting h2 {
        font-size: var(--size-24);
    }

    #start-btns-container button, #options-container button, #end-of-quiz-options button {
        font-size: var(--size-20);
        font-weight: 700;
    }

    #question-area, #results-area {
        margin: 5% auto 2% auto;
    }
}

@media screen and (max-width: 857px) {
    #all-countries-container {
        gap: 1rem;
    }
}

@media screen and (max-width: 839px) {
    #dropdown-content {
        flex-direction: column;
    }

    #all-countries-container {
        gap: var(--size-12);
        margin: 1rem 1rem 4rem 1rem;
    }
}

@media screen and (max-width: 820px) {
    #theme-toggler {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 810px) {
    body {
        background-size: unset;
        background-size: 2277px 1112px;
    }

    #theme-toggler {
        width: 29%;
        max-width: 29%;
    }

    #all-countries-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem 3rem 4rem 3rem;
        gap: 2rem;
    }

    #country-page-main-container {
        margin-top: var(--size-28);
    }

    #border-countries-container {
        margin-top: 3rem;
        flex-direction: column;
    }

    #border-countries-container header {
        font-size: var(--size-32);
    }

    #border-countries-list a,
    #border-countries-list p {
        color: white;
        font-size: var(--size-16);
        margin: 0px var(--size-20);
        margin: var(--size-8);
        font-size: var(--size-20);
        margin: var(--size-24);
    }
}

@media screen and (max-width: 800px) {
    body {
        background-size: 2437px 1323px;
    }

    #quiz-greeting {
        padding: 5rem;
    }

    #quiz-greeting h1, #results-header {
        font-size: var(--size-48);
    }

    #quiz-greeting h2 {
        font-size: var(--size-32);
    }

    #start-btns-container, 
    #end-of-quiz-options {
        flex-direction: column;
        align-items: center;
    }

    #start-btns-container button {
        width: 100%;
    }

    #end-of-quiz-options button {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    #border-countries-list a,
    #border-countries-list p {
        margin: var(--size-16);
    }

    #quiz-link-container {
        width: 92%;
        max-width: 93%;
    }

    #quiz-greeting {
        margin: 13% auto 2% auto;
        width: 66%;
    }

    #results-area {
        margin: 16% auto 2% auto;
    }
}

@media screen and (max-width: 615px) {
    #homepage-functions-container {
        flex-direction: column;
    }

    #filter-container {
        margin-top: 3rem;
        align-items: center;
    }

    #dropdown-content {
        width: 90%;
        max-width: 90%;
        flex-direction: row;
        text-align: center;
    }

    #dropdown-content div {
        margin: 0;
    }

    #all-countries-container {
        margin: 1rem;
    }

    .site-header-logo-container header {
        font-size: var(--size-28);
    }

    #country-page-headers-container {
        margin: 0 auto 1rem auto;
    }

    #quiz-greeting {
        padding: 2rem;
    }
}

@media screen and (max-width: 601px) {
    .site-header {
        position:relative;
    }

    .site-header-logo-container header {
        font-size: var(--size-24);
    }

    #search-container {
        align-items: center;
    }

    #all-countries-container {
        margin: 0rem;
    }

    #scroll-to-top-btn {
        left: 87%;
        top: 50%;
    }

    #country-page-main-container {
        justify-content: unset;
    }

    #flag-info-container {
        flex-direction: column;
    }

    #country-facts-container {
        margin-top: 1rem;
    }

    #quiz-greeting {
        padding: 3rem;
        width: 75%;
    }

    #quiz-greeting p {
        font-size: var(--size-20);
    }
}

@media screen and (max-width: 500px) {
    #all-countries-container {
        gap: var(--size-12);
    }
}

@media screen and (max-width: 480px) {
    #country-body-container img {
        width: 23rem;
        height: 15rem;
    }
}

@media screen and (max-width: 448px) {
    .site-header-logo-container i {
        padding: var(--size-12);
    }

    #start-btns-container button, #options-container button, #end-of-quiz-options button {
        font-size: var(--size-12);
    }
}

@media screen and (max-width: 414px) {
    body {
        background-size: 2703px 1398px;
    }

    #all-countries-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem 2rem 7rem 2rem;
    }

    .site-header {
        flex-direction: column;
    }

    .site-header-logo-container {
        margin-bottom: 1.5rem;
    }    

    #theme-toggler {
        width: 55%;
        max-width: 55%;
    }

    #dropdown-content {
        flex-direction: column;
        text-align: center;
        min-width: 59%;
    }

    #scroll-to-top-btn {
        left: 81%;
    }

    #country-body-container #switzerland-flag-country-page {
        border: var(--size-4) solid var(--theme-color-one);
        width: 16rem;
        height: 14rem;
    }

    #country-body-container img {
        border: var(--size-4) solid var(--theme-color-one);
        width: 19rem;
        height: 13rem;
    }

    #border-countries-list {
        justify-content: center;
        width: 75%;
    }

    #quiz-greeting h1, #results-header {
        font-size: var(--size-32);
    }

    #quiz-greeting h2 {
        font-size: var(--size-24);
    }

    #question-area {
        margin: 13% auto 2% auto;
        margin: 13% 9%;
    }
}

@media screen and (max-width: 412px) {
    #options-container button {
        font-size: var(--size-16);
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .site-header-logo-container i {
        font-size: var(--size-28);
    }
}

@media screen and (max-width: 393px) {
    .site-header-logo-container i {
        padding: var(--size-8);
        font-size: var(--size-28);
    }  
    
    #border-countries-container header {
        font-size: var(--size-24);
    }

    #quiz-greeting {
        padding: 2rem;
    }
}

@media screen and (max-width: 375px) {
    #country-body-container img {
        width: 19rem;
        height: 12rem;
    }

    #quiz-greeting h1, 
    #results-header {
        font-size: var(--size-24);
    }

    #quiz-greeting h2 {
        font-size: var(--size-20);
    }

    #start-btns-container button, #options-container button, #end-of-quiz-options button {
        padding: var(--size-4) var(--size-8);
        font-size: var(--size-20);
    }

    #quiz-greeting, #question-area, #results-area {
        width: 68%;
        padding: var(--size-24);
    }

    #question-header {
        font-size: var(--size-20);
        line-height: var(--size-28);
    }
}

@media screen and (max-width: 360px) {
    #all-countries-container {
        margin: 1rem 1rem 8rem 1rem;
    }

    #country-body-container img {
        width: 17rem;
        height: 11rem;
    }

    #border-countries-list {
        justify-content: space-between;
        width: 100%;
    }   
    
    #question-area {
        margin: 13% auto 2% auto;
    }

    #quiz-greeting h1, #results-header {
        font-size: var(--size-28);
    }

    #quiz-greeting h2 {
        font-size: var(--size-20);
    }
}

@media screen and (max-width: 320px) {
    .site-header-logo-container i {
        font-size: var(--size-24);
    }

    #search-box input {
        width: 12rem;
    }

    #all-countries-container {
        margin: 1rem 1rem 9rem 1rem;
    }

    #scroll-to-top-btn {
        padding: var(--size-8);
    }

    #border-countries-list {
        justify-content: center;
    }
}